* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-transform: initial;
  font-family: sans-serif;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  width: 100px;
}
.logo img {
  width: 100%;
}
.menu-items a {
  padding: 6px 0px;
  margin: 0 20px;
  text-decoration: none;
  /* color: #bfbdbc; */
  color: black;
  transition: all 0.3s ease-in-out;
}
/* menu itme hover */
.menu-items a:hover {
  color: black;
  border-bottom: 4px solid #8071d0;
  font-size: 20px;
}
.nav-btn button {
  padding: 15px 20px;
  /* text-transform: capitalize; */
  background-color: #ffd8db;
  color: #8071d0;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
button:hover {
  transform: scale(1.1);
}
section {
  display: flex;
  padding: 20px 70px;
}
.text-section {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.header-text h1 {
  font-size: 6vw;
  margin-bottom: 30px;
}
.header-text p {
  line-height: 30px;
}
.span-color {
  color: #5243c0;
}
.btns {
  display: flex;
  align-items: center;
  margin: 20px 0 50px 0;
}
.btns button {
  padding: 15px 25px;
  margin-right: 10px;
  border: none;
  border-radius: 22px;
  background-color: #5243c0;
  color: white;
  font-size: 18px;
  /* text-transform: capitalize; */
  transition: all 0.3s ease-in-out;
}
.btns img {
  margin-right: 10px;
}
.table-section {
  display: flex;
  flex-direction: column;
}
.table-section .card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  margin: 3px 0;
  transition: all 0.3s ease-in-out;
}
.card:hover {
  background-color: white;
  box-shadow: 2px 2px 10px gray;
  transform: scale(1.1);
}
.card:hover > .card-left > .fa-check-circle {
  color: #5243c0;
}
.fa-check-circle {
  font-size: 35px;
  color: rgb(240, 231, 231);
  transition: all 0.3s ease-in-out;
}

.color {
  width: 40px;
  height: 15px;
  border-radius: 20px;
}
.card-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.card-left {
  display: flex;
  align-items: center;
}
.card-left P {
  margin-left: 20px;
}

/* right side section */
.right-img-section {
  width: 60%;
}
.right-img-section img {
  width: 100%;
}

/* responsive */
@media screen and (max-width: 769px) {
  .logo {
    width: 70px;
  }

  .menu-items a {
    padding: 2px 0px;
    margin: 0 5px;
    font-size: 15px;
  }
  .nav-btn button {
    padding: 7px 10px;
    font-size: 15px;
  }
  section {
    display: flex;
    padding: 20px 20px;
  }
  .header-text p {
    font-size: 15px;
  }
  .btns button {
    padding: 5px 20px;
    font-size: 15px;
  }
  .table-section {
    width: 320px;
  }
  .table-section .card {
    height: 40px;
    width: 100%;
    padding: 4px;
  }
  .fa-check-circle {
    font-size: 25px;
  }
  .color {
    width: 35px;
    height: 10px;
    border-radius: 10px;
  }
  .card-left P {
    font-size: 15px;
  }
  .card-right span {
    font-size: 15px;
  }
  .card-right img {
    width: 25px;
  }
}
@media screen and (max-width: 350px) {
  .logo {
    width: 50px;
    margin-right: 5px;
  }

  .menu-items a {
    padding: 2px 0px;
    margin: 0 2px;
    font-size: 10px;
  }
  .nav-btn button {
    padding: 7px 10px;
    font-size: 10px;
  }
  .nav-btn button:hover {
    font-size: 12px;
  }
  section {
    display: flex;
    padding: 10px 10px;
  }
  .header-text p {
    font-size: 12px;
  }
  .btns button {
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 10px;
  }
  .table-section {
    width: 270px;
  }
  .table-section .card {
    height: 30px;
    width: 100%;
    padding: 4px;
  }
  .fa-check-circle {
    font-size: 15px;
  }
  .color {
    width: 25px;
    height: 10px;
    border-radius: 10px;
  }
  .card-left P {
    font-size: 10px;
  }
  .card-right span {
    font-size: 10px;
  }
  .card-right img {
    width: 15px;
  }
}
