* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #f2f6ff;
    font-family: "raleway" sans-serif;
    margin: 0px;
    padding: 10px;
    font-size: 16px;
    scroll-behavior: smooth;
  }
  .header {
    width: 100%;
    padding: 16px 78px;
    background-color: #fff;
    position: fixed;
    box-shadow: 0 2px 1px #ccc;
    top: 0;
    left: 0;
  }
  
  .logo-container {
    background-color: #fff;
    width: 100%;
    height: 80px;
    padding: 16px 78px;
    display: flex;
    box-sizing: border-box;
    background-color: rgb(254, 255, 255);
    box-shadow: 0 1px 1px #ccc;
    position: static;
  }
  .edyoda-logo {
    font-size: 32px;
    width: 130px;
    font-weight: 900;
    line-height: 1;
    color: #0084ff;
    font-family: "Raleway", sans-serif;
  }
  .logo-stories {
    color: #000;
    font-size: 18px;
    margin: 0px;
    font-weight: 1000;
    font-style: italic;
    font-family: "Raleway", sans-serif;
    line-height: 0.5cm;
  }
  
  .dropdown {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
  }
  #dropdown-icon {
    margin-left: 10px;
  }
  .dropdown-text {
    cursor: pointer;
    color: #000;
    font-size: 16px;
    border: none;
    background-color: #fff;
    padding-left: 60px;
  }
  .dropdown-content {
    visibility: hidden;
    position: absolute;
    top: 60px;
    left: 60px;
    background-color: #fff;
    min-width: 250px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    opacity: 0;
    transition: all 0.15s ease-in-out;
  }
  .dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
  }
  
  main {
    padding-top: 20px;
    font-size: 16px;
    border-bottom: 20px;
    
  }
  .trendpost-container {
    width: 80%;
    margin: auto;
  }
  .heading {
    color: #000;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    margin: 0;
  }
  .categories-container {
    margin-bottom: 20px;
    font-size: 16px;
    padding-top: 16px;
  }
  .filter-text {
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;
  }
  .active-category-btn {
    padding: 6px 14px;
    color: #fff;
    background-color: #0084ff;
    border-radius: 15px;
    border: 1px solid #0084ff;
    margin: 5px;
    cursor: pointer;
  }
  .active-category-btn:hover{
      transform: scale(1.04);
  }
  .categories-list {
    margin-top: 10px;
  }
  
  .category-item {
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    color: #0084ff;
    padding: 6px 14px;
    width: auto;
    border: 1px solid #0084ff;
    margin: 5px;
    border-radius: 15px;
  }
  .category-item:hover {
    background-color: #0084ff;
    color: #000;
    transform: scale(1.04);
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  .card1 {
    width: 100%;
    margin: auto;
  }
  .image-section {
    height: 176px;
    width: 100%;
  }
  
  #card-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card-container {
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    width: calc(360px - 3px);
    margin-right: 1%;
    
    margin-bottom: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 30px 0 lightgray;
  
      
      
  }
  .card-container:hover{
      transform: scale(1.04);
  }
  .card-content {
    padding: 16px 24px;
  }
  .card-img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }
  .author-section {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #0096ff;
    font-style: italic;
  }
  
  .card-title {
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    margin: 0;
  }
  
  .cart-author {
    border-right: 1px solid rgba(0, 0, 0, 0.7);
    padding-right: 5px;
  }
  
  .card-date {
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: 300;
  }
  .card-description {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.43;
      color: rgba(0, 0, 0, 0.6);
      margin: 4px 0;
    
  }
  .footer {
    background-color: #172146;
    padding: 80px 16%;
  }
  